<link rel="stylesheet" href="../css/servico.css">
<link rel="stylesheet" href="../css/home.css">
{{#if dadosDaConta}}
    <div id="home">
        Olá, {{{dadosDaConta.login}}}, Total: ${{{dadosDaConta.valorTotal}}},00
    </div>
{{/if}}
{{#each servicos}}
<form action="/contratar" method="POST">
    <input hidden name="id" value="{{dataValues.id}}">
    <input hidden name="preco" value="{{dataValues.preco}}">
    <input hidden name="comissao" value="{{dataValues.comissao}}">
    <br><br>
    <div id="lista">
        <nav class="listagem">
            <li>{{dataValues.nome}}</li>
            Profissional: {{dataValues.profissional}} <br>
            Valor: ${{dataValues.preco}},00
        </nav>
        <br>
        <button class="btn btn-primary contratar">Contratar</button>
    </div>
    <br>
</form>
{{/each}}